/*footer {
    p {
        margin:0;
        padding: 12px;
        color: rgb(100, 100, 100);
    }
    .container {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
} */

.pie-pagina { 
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 50px;
        .box{
            figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: aliceblue;
                img {
                     width: 250px;
                }
                h2 {
                    margin-bottom: 25px;
                    font-size: 20px;
                }
            }
        }
    }